       *{
			margin:0;
			padding:0;
		}
		@font-face {
    font-family: Gotham bold; /* Гарнитура шрифта */
    src: url(Gotham Cyrillic/GothaProBol.otf); /* Путь к файлу со шрифтом */
    font-family: Alegreya-Regular;
    src: url(portfolio/font/alegreya/Alegreya-Regular.ttf);
   }


        .wrapper{
			height: 100%;
			min-height: 1000px;
			background: grey;
		}
		.header{
			width: 1200px;
			height: 740px;
			background: url("img/header.png");
		    background-size: 100%;
			background-repeat: no-repeat;

		}

		.logo p{
			font-size: 30px;

		}
	    .logo{
			position:absolute;
			top:-160px;
			left:205px;

		}
		
		.menu{
			position:absolute;
			top:40px;
			left:32%;
			
		}


		.menu a{
			text-decoration:none; 
		    color:white;
		  /*  font-family:'Alegreya-Regular', arial;*/
		    padding-left: 20px;
		    padding-right: 20px;
            text-align: center;
		    vertical-align: middle;
		
		}
              /*нужно сделать спрайтами кнопки соц.сетей*/
		 .header .links a{
	    	text-decoration:none; 
		    color:white;
		    
	    }

	    .header .links .vk img{
         	width: 15px;
         	position:absolute;
			top:37px;
             right: 260px;
         }
        .header .links .tw img{
         	width: 17px;
         	position:absolute;
			top:40px;
             right: 230px;
         }
         .header .links .fb img{
         	width: 15px;
         	position:absolute;
			top:37px;
			right:200px;

         }
          .header .links .ig img{
         	width: 15px;
         	position:absolute;
			top:41px;
			right:170px;

         }
         /*вот здесь эти кнопки кончаются упаси их господь*/


		.line{
			position:absolute;
			top:95px;
		}
		h1{ color:white;
			font-family:'Gotham bold';
			padding-top: 110px; 
			font-size:130px;
         	text-align: center;
         	

		}
		h2{ color:white;
			text-align: center;
			font-size: 25px;
			word-spacing: 10px;
			padding-top: 140px; 

		}
		h3{  text-align: center;
			color:#11749e;
			font-family:'Gotham medium';/*надо подключить шрифты*/
			font-size: 20px;
			word-spacing: 20px;
			letter-spacing: 15px;
			padding-bottom: 80px; 

		}
		h4{ text-align: center;
			font-size: 20px;
			color:white;
			padding-bottom: 20px; 


		}

		p{   
			 text-align: center;
			color:white;
			font-size: 12px;

		}

        .about_agency{
        	background-image: url("img/about_agency.png");
        	height:630px;
        	background-size:cover;
			background-repeat: no-repeat;
			
        }
        

              
		.features{
			display: inline-block;
			position: relative;


		}


		.feature_one{
			width: 215px;
			height: 100px;			
			position: absolute;
			top:230px;
			left: 190px;


		}
		.feature_two{
			width: 215px;
			height: 100px;
			position: absolute;
			top:230px;
			left: 440px;

		}
		.feature_three{
			width: 215px;
			height: 100px;
			position: absolute;
			top:230px;
			left: 690px;

		}
		.feature_four{
			width: 215px;
			height: 100px;
			position: absolute;
	        top:230px;
			left: 950px;

		}

		.akita{
			display: inline-block;
			position: relative;
			width: 100%;
		}
		.akita p{
			font-size: 15px;
			padding-bottom: 15px;
			text-align: left;
		}

		.akita1{
		    background-color: #222222;
		    width: 100%;
		    height: 405px;
			


		}
		.akita1 section{
			position: absolute;
			width: 415px;
			height: 100px;		
			top:130px;
			left: 150px;
		}
		

			
		.akita2{
			background-color:#f3f3f3;
			width: 100%;
		    height: 425px;
			
		}
		
		.akita2 section{
			position: absolute;
			width: 415px;
			height: 100px;		
			top:530px;
			right: 150px;
		}
		.akita2 section p{

			color: black;
		}

	